* {
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 0;
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #d3d3d3;
}

/*-Mobile First-*/
/*header*/
.header{
    width: 100%;
    height: 80px;
    text-align: center;
}
.img-header{
    width: 80%;
    padding: 20px;
}
/*section formulário*/
.section-formulario{
    width: 100%;
    padding: 12px;
}
.legenda-formulario{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
    padding: 7px;
    color: #757575;
}
.caixaDeTexto-formulario{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    border-style:none ;
}
.botaoFormulario{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    color: white;
    background-color: #009cba;
    border-style:none;
}
/*section tabela de exibição*/
.section-tabela{
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: 10px;
    margin-right: 10px;
}
.titulo-section-tabela{
    display: block;
    color: #757575;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}
table{
    background-color: gray;
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
}
th{
    font-size: 8px;
    padding: 4px;
}

td{
    font-size: 9px;
    text-align: center;
    word-break: break-word;
}
.botao-tabela{
    width: 15px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/icone-lixeira.png);
    border-style: none;
    border-radius: 2px;
    background-color: gray;
}

@media (min-width: 768px) {
    .header{
        height: 100px;
    }
    .img-header{
        width: 60%;
        padding: 35px;
    }
    .section-formulario{
        padding-left: 60px;
        padding-right: 60px;
    }
    .section-tabela{
        margin-left: 60px;
        margin-right: 60px; 
    }
    .titulo-section-tabela{
        padding: 50px;
        font-size: 30px;
        padding-bottom: 30px;
    }
    table{
        width: 100%;
        margin: 0;
    }
    th{
        font-size: 12px;
        padding: 15px;
    }
    
    td{
        font-size: 12px;
    }
    .botao-tabela{
        width: 25px;
        height: 25px;
    }
}

@media (min-width: 1281px) {
    .header{
        height: 200px;
    }
    .img-header {
        padding-left: 180px;
        padding-right: 180px;
        padding-top: 80px;
    }
    .section-formulario{
        padding-left: 180px;
        padding-right: 180px;
    }
    .section-tabela{
        margin-left: 180px;
        margin-right: 180px; 
    }
    .legenda-formulario{
        font-size: 20px;
    }
    .caixaDeTexto-formulario{
        padding: 15px;
    }
    .botaoFormulario{
        font-size: 20px;
        padding: 10px;
    }
    .titulo-section-tabela{
        padding: 90px;
        font-size: 30px;
        padding-bottom: 60px;
    }
    th {
        font-size: 20px;
        padding: 10px;
    }
    td {
        font-size: 20px;
        padding: 5px;
    }

    .botao-tabela{
        width: 35px;
        height: 35px;
    }
    
}